body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

button {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border: 5px solid white;
  border-radius: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

button:hover {
  background: rgba(0, 0, 0, 0.5);
}
